.button {
  height: 18%;
  background-color: rgb(25, 24, 24);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.button:hover {
  background-color: rgb(50, 21, 21);
}

@media all and (max-width: 825px) {
  .button {
    font-size: 14px;
  }
}

@media all and (max-width: 512px) {
  .button {
    font-size: 10px;
  }
}
