.board {
  width: 60%;
  height: 70%;
  background-color: rgb(116, 26, 26);
  display: flex;
  padding: 1%;
  gap: 5%;
  border-radius: 1%;

  &__item {
    height: 18%;
    background-color: rgb(25, 24, 24);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media all and (max-width: 768px) {
  .board {
    width: 70%;
    height: 80%;
  }
}

@media all and (max-width: 500px) {
  .board {
    width: 80%;
    height: 90%;
  }
}

@media all and (max-width: 825px) {
  .board__item {
    font-size: 14px;
  }
}

@media all and (max-width: 512px) {
  .board__item {
    font-size: 10px;
  }
}
