.form {
  width: 90%;
  height: 80%;
  background-color: rgb(25, 24, 24);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__listContainer {
    width: 95%;
    height: 80%;
    display: flex;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding-top: 10px;
    align-items: center;
  }

  &__list {
    width: 50%;
    height: 100%;
  }

  &__taskNumber {
    color: white;
    padding-top: 10px;
  }
}

.item {
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  &__containerComments {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-height: 200px;
    overflow: auto;
  }

  &__name {
    margin: 0 0 5px;
    color: white;
  }

  &__data {
    margin: 0 0 5px;
    color: white;
    width: 90%;
    background-color: rgb(154, 109, 26);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
